%h1 Calls
#messages
#calls
  %ul
    - @coll.find().each do |row|
      %li.call{:id => "#{row['tn']}"}
        %p
          = "#{row['name']} :: #{row['tn']}"
          %button{ :rel => "##{row['tn']}_ov"}
            %img{:src => '/img/phone.png'}
#chat


- @coll.find().each do |row|
  .simple_overlay{:id => "#{row['tn']}_ov"}
    %img{:src => '/img/phone.png'}
    = "#{row['name']} :: #{row['tn']}"
