%h1 Calls
#messages
.grid_12#calls
  %ul#callList
    %li
      .grid_2.alpha
        = "Name"
      .grid_2
        = "Phone"
      .grid_2
        = "City, State"
      .grid_2
        = "Zip Code"
      .grid_2.omega
    - @coll.find().each do |row|
      %li.call{:id => "#{row['tn']}"}
        .grid_2.alpha
          = row['name'] || "-"
        .grid_2
          = row['tn'] || "-"
        .grid_2
          = "#{row['city']}, #{row['state']}"
        .grid_2
          = row['zip'] || "-"
        .grid_2.omega
          %button{ :rel => "##{row['tn']}_ov"}
            %img.phone_icon{:src => '/img/phone.png'}

#chat

#calls_ov
  - @coll.find().each do |row|
    .simple_overlay{:id => "#{row['tn']}_ov"}
      %img{:src => '/img/phone.png'}
      .grid_12#calls
        %ul
          %li
            .grid_2.alpha
              = "#{row['name']}"
            .grid_2.omega
              = "#{row['tn']}"
          %li
            .grid_2.alpha
              = "#{row['city']}"
            .grid_2
              = "#{row['state']}"
            .grid_2.omega
              = "#{row['zip']}"
